<%= content_for(:title, "View links | HackerNewsClone") %>

<h1>View links</h1>
<h2><%= @link.name %></h2>

<p><%= link_to "Add comment", new_link_comment_path(@link), :class=> "btn btn-default" %></p>
<p><%= link_to "Edit", edit_link_path(@link), :class => "btn btn-default" %></p>
<p><%= link_to "Delete", link_path(@link),
                         :confirm => "You sure?",
                         :method => "delete",
                         :class => "btn btn-danger" %></p>
<%= link_to "Return to link listings", links_path, :class=> "btn btn-default" %>
